@model PAP3.Models.ProdutosViewModel

@{
    ViewData["Title"] = "Create";
}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/image_6.jpg');" data-stellar-background-ratio="0.5">

        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Products <i class="fa fa-chevron-right"></i>Create</span></p>
                    <h2 class="mb-0 bread">Create</h2>
                </div>
            </div>
        </div>
    </section>

<h1>Create</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <input asp-for="CategoriaId" class="form-control" />
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoUnidade" class="control-label"></label>
                <input asp-for="PrecoUnidade" class="form-control" />
                <span asp-validation-for="PrecoUnidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdImage" class="control-label"></label>  
                    <div class="custom-file">  
                        <input asp-for="ProdImage" class="custom-file-input" id="customFile">  
                        <label class="custom-file-label" for="customFile">Choose file</label>  
                    </div>  
                    <span asp-validation-for="ProdImage" class="text-danger"></span>   
            </div class=form-group> 
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" /></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            <div>

            </div>
            <div class="form-group pt-5">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
<script type="text/javascript">  
        // Add the following code if you want the name of the file appear on select  
        $(".custom-file-input").on("change", function () {  
            var fileName = $(this).val().split("\\").pop();  
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);  
        });  
    </script>
}
}
