@model PAP3.Models.Produto

@{
    ViewData["Title"] = "Edit";
}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/image_6.jpg');" data-stellar-background-ratio="0.5">

        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Products <i class="fa fa-chevron-right"></i>Edit</span></p>
                    <h2 class="mb-0 bread">Edit</h2>
                </div>
            </div>
        </div>
    </section>

<h1>Edit</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label"></label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
                                    <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <input asp-for="CategoriaId" class="form-control" />
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoUnidade" class="control-label"></label>
                <input asp-for="PrecoUnidade" class="form-control" />
                <span asp-validation-for="PrecoUnidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Descontinuado" /> @Html.DisplayNameFor(model => model.Descontinuado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
