@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/image_6.jpg');" data-stellar-background-ratio="0.5">

        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home <i class="fa fa-chevron-right"></i></a></span> <span>Manage <i class="fa fa-chevron-right"></i></span></p>
                    <h2 class="mb-0 bread">Manage</h2>
                </div>
            </div>
        </div>
    </section>

        <div class="container bg-white">
            <div class="row">
                <div class="col-2 p-5"><a asp-controller=Produtos asp-action=Index class="btn btn-primary p-3">Produtos</a></div>
                <div class="col-2 p-5"> <a asp-controller=Categorias asp-action=Index class="btn btn-primary p-3">Categorias</a></div>
                <div class="col-2 p-5"> <a asp-controller=DetalhesPedidos asp-action=Index class="btn btn-primary p-3">DetalhesPedido</a></div>
                <div class="col-2 p-5"> <a asp-controller=Pedidos asp-action=Index class="btn btn-primary p-3">Pedidos</a></div>
             </div>
        </div>

       


   
    
  
   
}
