@page
@model LockoutModel
@{
    Layout = "_ForLogin";
    ViewData["Title"] = "Locked out";
}

<header>
    <div class="container pt-5 text-center justify-content-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
    </div>
</header>
